@model EventEasep2.Models.Booking
@{
    ViewData["Title"] = "Booking Details";
}

<h1>Booking Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Event</dt>
        <dd class="col-sm-10">@Model.Event?.EventName</dd>

        <dt class="col-sm-2">Venue</dt>
        <dd class="col-sm-10">@Model.Venue?.VenueName</dd>

        <dt class="col-sm-2">Booking Date</dt>
        <dd class="col-sm-10">@Model.BookingDate.ToString("MMMM dd, yyyy")</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
